<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Mi página web</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">


</head>

<body>
    <section class="box">
        <img src="assets/img/yo.jpg" width="180" alt="" class="box-img">
        <h1>Juan Darío Intriago</h1>
        <h2>Tecnologías web</h2>
        <p>Soy Juan Darío Intriago Montalván, nací en Machala - El Oro - Ecuador el 25 de Febrero del 2002 actualmente cuento con 21 años de edad y soy estudiante de Ingeniería en Tecnologías de la Información vivo en la ciudad de Pasaje con mi familia que
            es gente agradable. Me gustaría culminar mi carrera tener un buen trabajo y formar una familia con la guapota que me gusta su nombre es Nicole y vive un poco lejos mejoraré y podré estar cerca de ella♥.</p>
    </section>

</body>

</html>